# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Environments
.env
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/

# Logs
*.log

# Docker
docker-compose.override.yml

# Vercel
.vercel

# OS files
.DS_Store
Thumbs.db